[submodule "google_tests/lib/googletest"]
	path = google_tests/lib/googletest
	url = https://github.com/google/googletest
[submodule "GoogleTests/lib/googletest"]
	path = GoogleTests/lib/googletest
	url = https://github.com/google/googletest
[submodule "Google_tests/lib/googletest"]
	path = Google_tests/lib/googletest
	url = https://github.com/google/googletest